header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* action buttons */
.action {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* social medias */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

/* make cool line */
.header__socials::after, .header__socials::before  {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.animation__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
}

.animation__item {
    width: 30rem;
}

/* scroll down */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media Queries... yuck */
/* mobile devices */
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }
}

/* medium sized devices */
@media screen and (max-width: 1024px){
    .animation {
        height: 68vh;
    }
}
